* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  background-image: url('images/Dandelions.png');
  background-repeat: no-repeat;
  background-size: 790px 697px;
  padding-top: 220px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #515076;
}

.product-title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
  margin-bottom: 110px;
} 


.products-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 340px;
  background-color: #F7F7FA;
  padding: 25px;
  margin: 15px;
}

.product-category {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-name {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  line-height: 18px;
  margin-bottom: 15px;
}

.product-compound-block {
  margin-bottom: 25px;
}

.product-compound {
  display: block;
  line-height: 18px;
  margin-bottom: 5px;
}

.product-compound-list {
  margin-bottom: 25px;
  list-style: none;
  padding-left: 0;
}

.product-compound-Ingredients {
  line-height: 18px;
  margin-bottom: 5px;
  padding-left: 15px;
  position: relative;
}

.product-compound-Ingredients::before {
  content: "○";
  position: absolute;
  left: 0;
}

.product-price {
  font-size: 20px;
}

.product-price-value {
  font-size: 20px;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}