.catalog__container {
  padding-top: 220px;
  background-image: url(../images/dandelions.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 790px 697px;
}

.catalog__title {
  margin-bottom: 110px;
}